

<app-navigation></app-navigation>



<div class="container">
  <h1 class="display-4 mb-2">New Comparison</h1>


      <div class="row mt-5">
        <div class="col">
          <app-select-input (nextEvent)="next()" [dataService]="dataService" [comparisonService]="comparisonService"></app-select-input>
          <app-select-providers (previousEvent)="previous()" (nextEvent)="next()" [dataService]="dataService" [comparisonService]="comparisonService"></app-select-providers>
          <app-await-result  [dataService]="dataService" [comparisonService]="comparisonService"></app-await-result>
          </div>
      </div>
    </div>



    <!--
    <form>
    <div class="form-group">

    <label for="textField">Input data, needs to be a valid JSON object, validation for this will come later</label>
    <input #textField="ngModel"  [(ngModel)]="textFieldContent" id='textField' name='textField' type="text" class="form-control">
    <p>{{textFieldContent}}</p>
  </div>
  <button class='btn btn-success'>Next</button>
</form> -->
