

<app-navigation></app-navigation>



<div class="container">
  <div class="row mt-5">
    <div class="col">

<div *ngIf="stage == 0">

</div>
<div *ngIf="stage == 1">

  <!-- <a routerLink="/new/2" onclick="location.reload();"   class="btn btn-lg btn-primary float-right">Next  </a> -->
</div>
<div *ngIf="stage == 2" class="text-center">


</div>


<app-select-input [visible]="selectInputIsVisible" [inputSets]="inputSets"></app-select-input>
<app-select-solutions [visible]="selectSolutionsIsVisible"></app-select-solutions>
<app-await-result [visible]="awaitResultIsVisible"></app-await-result>

<button *ngIf="hasNext()" (click)="next()"   class="btn btn-lg btn-primary float-right">Next</button>
</div>
</div>
</div>
<!--
<h2>Select the input sets you're going to use</h2>

<br>

<button (click)="add()" class='btn btn-secondary'>Add a new input set</button>
<div *ngIf="inputSets | async as inputSets else noData">
<div class="row" *ngFor="let input of inputSets">
  <app-input-set [inputSet]="input"></app-input-set>
</div>
</div>
<ng-template #noData>loading...</ng-template>
<button (click)="next()" class='btn btn-success'>Next</button>


-->
<!--
<form>
  <div class="form-group">

  <label for="textField">Input data, needs to be a valid JSON object, validation for this will come later</label>
<input #textField="ngModel"  [(ngModel)]="textFieldContent" id='textField' name='textField' type="text" class="form-control">
<p>{{textFieldContent}}</p>
</div>
<button class='btn btn-success'>Next</button>
</form> -->
