<div *ngIf="visible">
<div class="container">
  <div class="row">
  <div class="alert alert-secondary col-12" role="alert">
    <h4 class="alert-heading">Custom</h4>
    <hr>
    <ul class="row" *ngFor="let solution of customSolutions">
      <li>
        Custom
      </li>
    </ul>
    <a  routerLink="/my-resources"  class="btn btn-primary">Add a new solution</a>
  </div>
</div>
  <div *ngIf="providers | async as providers else noData">
    <div class="row" *ngFor="let provider of providers">
      <div class="alert alert-success col-12" role="alert">
        <h4 class="alert-heading">{{provider.name}}</h4>
        <hr>
        <ul class="row" *ngFor="let solution of provider.solutions">
          <li>
            <span>{{solution.title}}</span>

            <span class="ml-4" *ngIf="comparisonService.solutionIsSelected(+solution.id)">Checked</span>
            <button (click)="toggleSolutionSelected(solution.id)" class='btn btn-secondary ml-2'>Use</button>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <ng-template #noData>loading...</ng-template>


</div>
</div>
