<div *ngIf="visible">

  <ol class="breadcrumb justify-content-md-center bg-white font-weight-bold mb-5">
    <li class="breadcrumb-item active">Requirements</li>
    <li class="breadcrumb-item">Platforms</li>
    <li class="breadcrumb-item">Calculate</li>
  </ol>
  <div *ngIf="addNewInput;then newInput else existingInput"></div>


  <ng-template #newInput>


    <form>
      <div class="form-group">
        <h2>New Input</h2>

      <label for="textField">Input data, needs to be a valid JSON object, validation for this will come later</label>
    <textarea #textField="ngModel" rows="8" style="font-family:monospace;" [(ngModel)]="textFieldContent" id='textField' name='textField' type="text" class="form-control"></textarea>
    </div>
    <button (click)="setMode(0)" class='btn btn-secondary m-2'>Cancel</button>
    <button (click)="saveNewInput()" class='btn btn-success m-2'>Save</button>
    <div class="alert-danger m-3">
      {{errors}}
    </div>
    </form>

  </ng-template>

  <ng-template #existingInput >
    <div class="text-center">
    <span class="display-5">Describe the workload you are going to run. This can be done by adding a new Input Set, or selecting previously saved sets below.</span>

    <br>
    <button (click)="setMode(1)" class='btn btn-lg btn-secondary my-3'>Add a new input set</button>
  </div>
  <br>
    <br>
    <div class="row" *ngFor="let input of inputSets">
      <div class="col" >
        <div (click)="toggleInputSelected(input.id)" class="alert d-flex justify-content-between" [ngClass]="{' alert-success' : comparisonService.inputIsSelected(+input.id), ' alert-secondary' : !comparisonService.inputIsSelected(+input.id)}"  >
          <span><i *ngIf="comparisonService.inputIsSelected(+input.id)" class="far fa-check-square mr-2"></i>{{input.description}}</span>
          <span>
            <button (click)="delete(+input.id)" class='btn btn-outline-danger ml-2'  placement="top" ngbTooltip="Delete"><i class="far fa-trash-alt"></i></button>
            <a href="/workloads/{{input.id}}" class='btn btn-outline-secondary ml-2' target="_blank" placement="top" ngbTooltip="View"><i class="far fa-file"></i></a>
            </span>
      </div>
      </div>
    </div>
    <!-- nav buttons -->
    <button [disabled]="!hasNext()" (click)="next()" class="btn btn-lg btn-primary float-right">Next</button>
    <ng-template #noData>loading...</ng-template>
  </ng-template>



</div>
