<div class="container"  *ngIf="loaded">


<h3>Custom Solution</h3>

<span>Describe your hardware configuration and the costs assocaiated with running it.</span>
<span>If a value is not applicable to the custom solution leave it blank or set it to 0.</span>


<hr>

<form class="needs-validation">
  <div class="alert-danger m-3">
    {{errors}}
  </div>
  <div class="form-group">
    <label for="title">Description</label>
    <input [(ngModel)]="solution.title" title="title" id="title" name="title" type="text" class="form-control" required>
</div>
<div class="form-group">
  <label for="type">Type</label>
  <select class="form-control" id="type" [(ngModel)]="solution.type" name="type" required>
      <option>local</option>
      <option>hosted</option>
    </select>
  </div>

    <div class="form-group">
      <label for="cpu">CPU</label>
      <select class="form-control" id="cpu" [(ngModel)]="solution_spec_cpu" name="cpu" required>
          <option *ngFor="let option of cpu_options" [value]="option">{{option}}</option>
        </select>
      </div>
  <div class="form-group">
    <label for="cpu">Memory (GBs)</label>
    <input [(ngModel)]="solution_spec_memory" title="memory" id="memory" name="memory" type="text" class="form-control" required>
</div>
<div class="form-group">
  <label for="cpu">Disk I/O (mbs)</label>
  <input [(ngModel)]="solution_spec_disk" title="disk" id="disk" name="disk" type="text" class="form-control" required>
</div>
<div class="form-group">
  <label for="cpu">Storage (GBs)</label>
  <input [(ngModel)]="solution_spec_storage" title="storage" id="storage" name="storage" type="text" class="form-control" required>
</div>
<hr>
<h4>Costs</h4>
<div class="form-group">
  <div class="row">
  <div class="col-6">
    <label for="setup_cost">Setup cost</label>
    <input [(ngModel)]="solution_setup_cost" title="setup_cost" id="setup_cost" name="setup_cost" type="text" class="form-control" required>
    </div>
    <div class="col-6">
  <label for="setup_renewal">Renewal frequency</label>
  <select class="form-control" id="setup_renewal" [(ngModel)]="solution_setup_frequency" name="setup_renewal" required>
      <option *ngFor="let option of frequency_options" [value]="option">{{option}}</option>
    </select>
    </div>
    </div>
</div>
<div class="form-group">
  <label for="electrical_cost">Electrical cost (hourly)</label>
  <input [(ngModel)]="solution.electrical_cost_hourly" title="electrical_cost" id="electrical_cost" name="electrical_cost" type="text" class="form-control" required>
</div>
<div class="form-group">
  <label for="labour_cost">Lablour cost (hourly)</label>
  <input [(ngModel)]="solution.labour_cost_hourly" title="labour_cost" id="labour_cost" name="labour_cost" type="text" class="form-control" required>
</div>
<div class="form-group">
  <label for="other_cost">Other cost (hourly)</label>
  <input [(ngModel)]="solution.other_cost_hourly" title="other_cost" id="other_cost" name="other_cost" type="text" class="form-control" required>
</div>
<hr>
<h4>Usage Costs <small *ngIf="isLocal()" class="text-muted"> - Disabled because type is set to local.</small> </h4>


  <div class="form-group">
    <label for="type">If the Solution uses metered billing, enter the price of each resource per hour in use at 100% utilisation here. If not applicable, please leave blank</label>
    <div *ngFor="let item of solution.usage_costs">
      <span>{{getUsageCostLabel(item.type)}}<input [disabled]="isLocal()" [(ngModel)]="item.value" name="{{item.type}}" type="text" class="form-control"></span>
    </div>
  </div>



<span class="d-flex justify-content-end">
<button (click)="cancel()" class='btn btn-outline-secondary ml-2'>Cancel</button>
<button (click)="save()" type="submit" class='btn btn-success ml-2'>Save</button>
</span>
</form>

</div>
