<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a routerLink="/" class="navbar-brand">CCA</a>



    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
    <!--  <a routerLink="/setup" class="btn btn-outline-success my-2 my-sm-0" >Create Account</a> -->
    <span class="m-2">Account ID {{getAccountId()}}</span>
      <div *ngIf="isSignedIn();else signedOut">
        <a routerLink="/profile"  class='btn btn-primary'>Profile</a>
        <button (click)="signOut()" class="btn btn-outline-primary ml-1">Sign Out</button>
      </div>
      <ng-template #signedOut>
        <button (click)="signOut()" class="btn btn-primary ml-1">Sign In</button>
      </ng-template>

    </div>
  </nav>
