
<app-navigation></app-navigation>
<div class="container">
<a routerLink="/new"  class='btn btn-primary mt-5'>Add Comparison</a>
<br>

<div class="col-2">
</div>
<div class="col-8">
  <div class="row mt-3">
    <h2>Results</h2>
  </div>
<div class="row mt-3">
  <div class="col-2">
  </div>
<div *ngIf="results | async as results else noData">
<div class="row" *ngFor="let result of results">

  <div class="col">
    <div class="alert alert-primary">
      <span>{{result.timestamp}}</span>
      <span></span>
      <span class="mr-5">  </span>
      <span *ngFor="let icon of generateProviderIconsForResult(result)">
        <span [innerHTML]="icon" class="badge badge-light ml-2" placement="top" ngbTooltip="Tooltip on top"></span>
      </span>
      <span class="mr-5">  </span>
      <a  routerLink="/results/{{result.id}}"  class='btn btn-primary'>View</a>
    </div>
  </div>
</div>
</div>
<ng-template #noData>loading...</ng-template>
</div>


</div>
</div>

<script>
</script>
