
<app-navigation></app-navigation>
<div class="container">
<a routerLink="/new"  class='btn btn-primary mt-5'>Add Comparison</a>
<!--Input data sets

<span class="mb-4"></span>
  <div class="row" *ngFor="let input of inputSets">
    <app-input-set [inputSet]="input"></app-input-set>
  </div>-->
<br>

<div class="col-2">
</div>
<div class="col-8">
  <div class="row mt-3">
    <h2>Results</h2>
  </div>
<div class="row mt-3">
<div *ngIf="results | async as results else noData">
<div class="row" *ngFor="let result of results">


  <div class="col">
    <div class="alert alert-primary">
      <span>{{result.timestamp}}</span>
      <span class="mr-5">  </span>
      <a  routerLink="/results/{{result.id}}"  class='btn btn-primary'>View</a>
    </div>
  </div>
</div>
</div>
<ng-template #noData>loading...</ng-template>
</div>
</div>
</div>
