
<app-navigation></app-navigation>
<div class="container text-center">


    <p class="mt-5"><i class="fas fa-server display-3"></i>  <span class="display-4 p-4">vs</span>  <i class="fas fa-cloud display-3"></i></p>
    <h1 class="mt-5 display-4">Computation Cost Analysis</h1>
    <p class="mt-5">This tool allows computeing platforms to be compared by cost.</p>

    <p>Built by Sebastian Brown.</p>

    <p>Create a new comparison to get started.</p>

<a routerLink="/new"  class='btn btn-primary btn-lg mt-5 mb-5'>New Comparison <i class="pl-1 far fa-plus-square"></i></a>
<br>

  <hr>
    <h2 class="display-4 text-center m-5">Results</h2>
    <span></span>
  <div class="col-2">
  </div>
<div *ngIf="results | async as results else noData">
<div class="row" *ngFor="let result of results">

  <div class="col">
    <div class="alert alert-primary">
      <div class="d-flex justify-content-between">
      <span class="">{{result.timestamp}}</span>
      <div>
      <span *ngFor="let icon of generateProviderIconsForResult(result)">
        <span [innerHTML]="icon" class="badge badge-light ml-2" placement="top" ngbTooltip="Tooltip on top"></span>
      </span>
    </div>
    <span *ngIf="result.status != 'PENDING' else pending">
        <a  routerLink="/results/{{result.id}}"  class='btn btn-primary'>View <i class="pl-1 far fa-chart-bar"></i></a>
      </span>
      <ng-template #pending>Pending...</ng-template>
      </div>
    </div>
  </div>
</div>
</div>
<div class="col-2">
<ng-template #noData>loading...</ng-template>
</div>


<script>
</script>
